#navbar {
    background-color: #222;
    padding: 10px;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li a:link {
    color: white;
    text-decoration: none;
    padding: 12px 18px;
    display: block;
}


.menu li a:visited {
    color: lightgray;
}


.menu li a:hover {
    background-color: #555;
}


.menu li a:active {
    background-color: orange;
}
