* {
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: 40px auto;
    background-color: #f4f4f4;
    padding: 20px;
    border: 3px solid #333;
}

.box {
    background-color: #ddd;
    margin-bottom: 20px;
    font-size: 16px;
}

.box1 {
    border: 4px solid red;
    padding: 20px;
    margin: 10px;
}

.box2 {
    border: 6px dashed blue;
    padding: 10px;
    margin: 20px;
}

.box3 {
    border: 2px dotted green;
    padding: 30px;
    margin: 15px;
}
